.signUpBay img{
    margin-top: 2rem;
    height:360px;
    margin-top: 1.5rem;
}

.signUpBay{
    margin-top: 10rem;
    width: 50%;
}

.inputBar{
    margin-top: 2rem;
}

.submitBtn{
    margin-top: 1rem;
}