.brand-logo{
    margin-left: 1rem;
}

nav{
    border-bottom: 1px solid rgb(207, 207, 207);
}

td{
    border-right: 1px solid rgb(207, 207, 207);
    padding: 8px;
}

td p{
    margin: 0;
}

.container { 
    width: 100%;
}

.expenses .col{
    margin-top: 0;
}

.loading-msg{
    margin: auto auto;
}

.amtContainer .row{
    margin-bottom:0;
}

.amtContainer .card{
    width: 100%;
    padding: 0;
}

.amtContainer .card-title{
    font-size: 1.1rem;
    margin-bottom: -10px;
}

.amtContainer .card-content{
    padding: 0;
}

.list-content{
    margin-top:0;
    padding-top:0;
}

.recieveAmt{
    margin-left: 5px;
}

.giveAmt .card-content{
    margin-right: 4px;
}

.recievingList{
    min-height:500px;
    border-left: 1px solid rgb(160, 160, 160);
}

.dashboard{
    height: 600px;
}

.dashboard-icon .col{
    margin-top: 10px;
}

.user-groups .col {
    margin-top: 0;
}

.header{
    padding: 10px;
}

.header span {
    margin-left: 10px;
    font-size: 1.7rem;
    font-weight: 600;
}

.expenseBtn button{
    margin: 0 auto;
}

.expenses-list-table {
    width: 100%;
    margin: 0;
    margin-bottom:10px;
}

.expenses-list-table tr:last-child{
    border-bottom: none;
}

.sidebar-header {
    /* margin: 30px; */
    padding: 3rem !important;
}

.sidebar-header h6{
    font-weight: 600;
}

.users-collection,
.users-collection .collection-item{
    border: none;
}

.date{
    display: flex;
    flex-direction:column;
    font-weight: bold;
}

.date .day{
    font-size: 1.2rem;
}

.vanish{
    visibility:none;
    display:none;
}