#user-data-container {
    form {
        label {
            font-size: 1rem;
            text-transform: uppercase;
        }
    }
    .image-info-text {
        color: #00897b;
        font-weight: bold;
        text-transform: uppercase;
    }
}
